<div class="row justify-content-center mb-3">
  <div class="col-12">
    <h2 tabindex="0">Education & Training</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-5 education-section">
    <h2 tabindex="0">Stevenson University</h2>
    <p class="education-degree" tabindex="0">
      B.S. Interdiciplinary Studies (CIS/Applied Mathematics), Mathematical
      Modeling and Information Retrival
    </p>
    <p tabindex="0">
      Activities and societies: Tutor, International mathematical modeling
      competitions (successful participant and honorable mention), and approved
      extended undergrad research on search algorithms and information
      retrieval. Greenspring Valley Orchestra Tenor Soloist
    </p>
    <p tabindex="0">
      Followed a traditional engineering and applied mathematics curriculum
      towards business applications with core programming courses, topics in
      advanced mathematics, and an extended joint Mathematics &amp; CIS
      adjudicated thesis project.
    </p>
    <p class="education-skills" tabindex="0">
      Skills: Maven, Emulation, +21 skills
    </p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 education-section">
    <h2 tabindex="0">Private Studio of Shazy King in Baltimore MD</h2>
    <p class="education-degree" tabindex="0">
      Traditional Training in the Melocchi Method and Coaching in Tenor Works
      in The Grand Repertoire, Voice and Opera
    </p>
    <p class="education-date" tabindex="0">2005 – 2022</p>
    <p tabindex="0">
      15+ years of vocal training in the method of Melocchi with coaching in
      the tenor repertoire focused on lyric and spinto roles. Focused on
      Verdi, Bellini, Donizetti, Puccini, and Mozart operas.
    </p>
    <p class="education-skills" tabindex="0">
      Skills: Music Performance, Vocal Music
    </p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 education-section">
    <h2 tabindex="0">University of Maryland Baltimore County</h2>
    <p class="education-degree" tabindex="0">Computer Software Engineering</p>
    <p class="education-date" tabindex="0">2015 – 2018</p>
    <p tabindex="0">
      Activities and societies: Professional level training in Enterprise Java
      Development in a Mainframe environment.
    </p>
    <p class="education-skills" tabindex="0">
      Skills: WebSphere Application Server
    </p>
  </div>
</div>

<div class="row justify-content-center mb-3 mt-4">
  <div class="col-12">
    <h2 tabindex="0">Licenses & Certifications</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-5 education-section">
    <h2 tabindex="0">Adult and Pediatric First Aid/CPR/AED</h2>
    <p class="education-org" tabindex="0">American Red Cross</p>
    <p class="education-date" tabindex="0">Issued Sep 2025 · Expires Sep 2027</p>
    <p tabindex="0">Credential ID: 022T2NJ</p>
    <p class="education-skills" tabindex="0">Skills: Adult CPR, First Aid, +2 skills</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 education-section">
    <h2 tabindex="0">Basic Life Support for Healthcare and Public Safety (BLS)</h2>
    <p class="education-org" tabindex="0">American Red Cross</p>
    <p class="education-date" tabindex="0">Issued Sep 2025 · Expires Sep 2027</p>
    <p tabindex="0">Credential ID: 0226AN2</p>
    <p class="education-skills" tabindex="0">Skills: Cardiopulmonary Resuscitation (CPR), Pediatric CPR, +1 skill</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 education-section">
    <h2 tabindex="0">Certified Tutor</h2>
    <p class="education-org" tabindex="0">International TUTOR Training Program Certification (ITTPC)</p>
    <p class="education-skills" tabindex="0">Skills: Training, Java, +1 skill</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 education-section">
    <h2 tabindex="0">Introduction to R Course</h2>
    <p class="education-org" tabindex="0">DataCamp</p>
    <p tabindex="0">Credential ID: 4361292</p>
    <p class="education-skills" tabindex="0">Skills: R, Technical Documentation, +1 skill</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 education-section">
    <h2 tabindex="0">Certified Advanced Tutor</h2>
    <p class="education-org" tabindex="0">International TUTOR Training Program Certification (ITTPC)</p>
    <p class="education-skills" tabindex="0">Skills: Training, Java, +1 skill</p>
  </div>
</div>
