h1 {
  color: rgb(222, 187, 255);
}

.contact-link a {
  color: rgb(181, 111, 216);
  font-family: MoreSugar;
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
}

.contact-link a:hover {
  color: rgb(222, 187, 255);
  text-decoration: underline;
}
