@use "tokens" as t;

a {
  color: white;
}

.github {
  color: t.$gray;
  font-weight: 600;
  font-family: t.$font-fancy;
  font-size: smaller;
}

.cc-icon {
  height: 22px;
  margin-left: 3px;
  vertical-align: text-bottom;
}
