.creatorsig {
  float: left;
  color: rgb(190, 190, 190);
  font-weight: 600;
  font-family: MoreSugar;
  font-size: smaller;
  height: -2em;
  position: relative;
}

.github {
  position: relative;
  float: right;
  text-align: right;
  color: rgb(190, 190, 190);
  font-weight: 600;
  font-family: MoreSugar;
  font-size: smaller;
}
.footer-wrapper {
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 5em;
}

@media screen and (max-width: 450px) {
  .creatorsig {
    position: relative;
    float: right;
  }

  .github {
    padding-bottom: 1em;
    float: right;
    text-align: right;
  }
  .footer-wrapper {
    position: relative;
    display: list-item;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 5em;
    margin-bottom: auto;
  }
}
