.footer-wrapper {
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 2em;
  justify-content: right;
}

.github {
  position: relative;
  float: right;
  text-align: right;
  padding-bottom: 1em;
  color: rgb(190, 190, 190);
  font-weight: 600;
  font-family: MoreSugar;
  font-size: smaller;
}
