<div class="container">
  <div class="row mx-auto justify-content-center">
    <div class="col-12 col-md-5 col-lg-3 section">
      <h2>What music does it like?</h2>
      <p>
        It listens to a lot of classical and opera (mostly from the 1900-1940s
        recording artists) from training and interest, but in modern music it's
        mostly caught coding to chiptune and furry electronica.
      </p>
      <p>
        When not consulting, advocating, tinkering, or coding, it keeps its
        whole self engaged with continuing classical voice training in operatic
        repertoire.
      </p>
    </div>
    <div class="col-12 col-md-5 col-lg-3 section">
      <h2>What causes does it care about?</h2>
      <p>It enjoys helping Non-profit efforts in:</p>
      <ul>
        <li>LGBTQIA+ Civil Rights</li>
        <li>Neurodiversity</li>
        <li>IT enrichment for disabled and vulnerable Americans</li>
        <li>Free Open Source Software (FOSS) advocacy.</li>
        <li>Right to Repair.</li>
        <li>Government Transparency.</li>
      </ul>
      <p>
        It has over a decade of public service somewhere that actually helps the
        disabled directly financially
      </p>
    </div>
    <div class="col-12 col-md-5 col-lg-3 section">
      <h2>What games does it like?</h2>
      <p>In gaming, it enjoys</p>
      <ul>
        <li>Third-person RPGs</li>
        <li>JROPGs</li>
        <li>
          TTRPGs (playing and GMing since 1999 [2e,3.5,4.5e, 5e, Pathfinder,
          Masquerade, Star Wars5e])
        </li>
        <li>Indie metroidvanias</li>
        <li>LARPing</li>
      </ul>
      <p>... and continues to work on a no death run of NES Ninja Gaiden.</p>
      <p>
        It is an advocate of "save player one" and refuses to play gatchas or
        other financially predatory multiplayer games as a rule and stuck to
        that.
      </p>
    </div>
    <div class="col-12 col-md-5 col-lg-3 section">
      <h2>What did Usi do in school?</h2>
      <p>
        It has a B.S. in Interdisciplinary Studies (CIS/Applied Mathematics)
        from Stevenson University.
      </p>
      <p>
        Its taken a lot of further professional education as well as keeps up
        with trands and topics in applied mathematics.
      </p>
    </div>
    <div class="col-12 col-md-5 col-lg-3 section">
      <h2>What does the Usi do for money?</h2>
      <p>
        As a professional full stack developer for over 13 years, it is
        responsible for analyzing and refining systems requirements, designing,
        developing, modifying, and implementing security, management
        information, human resources, and auditing systems, currently
        surrounding online self service, cloud migration, and architecture in a
        secure devops pipeline.
      </p>
    </div>
    <div class="col-12 col-md-5 col-lg-3 section">
      <h2>Anything we need to know before speaking with the Usi?</h2>
      <p>ÂûDHD, plz be patient.</p>
    </div>
  </div>
</div>
