<div id="maincontent" class="container mt-1 mb-5 backpane">
  <div class="row mx-auto justify-content-center">
    <div section>
      <div question>What music does it like?</div>
      <div content>
        <p>
          It listens to a lot of classical and opera (mostly from 1900-1940s
          recording artists) from training and interest, but in modern music
          it's mostly caught coding to chiptune and furry electronica.
        </p>
        <p>
          When not consulting, advocating, tinkering, or coding, it keeps its
          whole self engaged with continuing classical voice training in
          operatic repertoire.
        </p>
      </div>
    </div>
    <div section>
      <div question>What causes does it care about?</div>
      <div content>
        <p>It enjoys helping Non-profit efforts in:</p>
        <ul>
          <li>LGBTQIA+ Civil Rights.</li>
          <li>Neurodiversity.</li>
          <li>IT enrichment for disabled and vulnerable Americans.</li>
          <li>Free Open Source Software (FOSS) advocacy.</li>
          <li>Right to Repair.</li>
          <li>Government Transparency.</li>
        </ul>
        <p>
          It has over a decade of public service somewhere that actually helps
          the disabled directly financially.
        </p>
      </div>
    </div>
    <div section>
      <div question>What games does it like?</div>
      <div content>
        <p>In gaming, it enjoys</p>
        <ul>
          <li>Third-person RPGs</li>
          <li>JROPGs.</li>
          <li>
            TTRPGs playing and GMing since 1999.
            <ul>
              <li>D&D</li>
              <ul>
                <li>2e</li>
                <li>3.5e</li>
                <li>4.5e</li>
                <li>5e</li>
              </ul>
              <li>Pathfinder</li>
              <li>Vampire the Masquerade</li>
              <li>Star Wars 5e</li>
            </ul>
          </li>
          <li>Indie metroidvanias</li>
          <li>LARPing</li>
        </ul>
        <p>NES Ninja Gaiden II is its favorite challenge.</p>
        <p>
          It is an advocate of "save player one", doesn't play gatchas or other
          financially predatory multiplayer games.
        </p>
      </div>
    </div>
    <div section>
      <div question>What did Usi do in school?</div>
      <div content>
        <p>
          It has a B.S. in Interdisciplinary Studies (CIS/Applied Mathematics)
          from Stevenson University.
        </p>
        <p>
          It's taken further professional/graduate level education in computer
          Science and Mathematics at the University of Maryland Baltimore County
          (UMBC).
        </p>
      </div>
    </div>
    <div section>
      <div question>What does the Usi do for money?</div>
      <div content>
        <p>
          It has been a professional full stack developer for over 13 years. It
          is responsible for:
        </p>
        <ul>
          <li>
            Customer, Technician, Management Information, Human Resources, and
            Auditing Online Self-Service Application Design/Modification.
          </li>
          <li>Analyzing and Refining Systems Requirements.</li>
          <li>Code Level Security Implimentation, Design, and Maitenance.</li>
          <li>Secure DevOps Environment Development.</li>
          <li>Cloud Migration.</li>
          <li>Enterprise Architecture.</li>
        </ul>
      </div>
    </div>
    <div section>
      <div question>Anything we need to know before speaking with the Usi?</div>
      <div content>
        <p>
          The Usi System is Autistic and lives with cPTSD, and ADHD. Plz be
          patient.
        </p>
      </div>
    </div>
  </div>
</div>
