<div class="row justify-content-center mb-3">
  <div class="col-12">
    <h2 tabindex="0">What has the Usi built?</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">mySocialSecurity - Online Self Service</h2>
    <p class="project-date" tabindex="0">Oct 2018 – Jan 2025</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">(Angular/Spring/OpenShift)</p>
    <p tabindex="0">Worked on the following efforts and features:</p>
    <ul tabindex="0">
      <li>Planning, preparing, filing users Workspace.</li>
      <li>Personalized retirement benefit estimates.</li>
      <li>Instant estimates for spouse's benefits.</li>
      <li>Instant proof that you do not receive benefits.</li>
      <li>Benefit application status tracker.</li>
      <li>On demand Social Security Statement.</li>
      <li>Disability and survivors benefit estimates.</li>
      <li>Replacement Social Security card.</li>
      <li>Special Notice Request for disabled members of the public.</li>
      <li>Current Beneficiary Workspace.</li>
      <li>Generate an instant benefit verification letter.</li>
      <li>Generate an instant replacement Form SSA-1099/SSA-1042.</li>
      <li>Generate Social Security Benefit Statement.</li>
      <li>Beneficiary direct deposit change.</li>
      <li>Beneficiary Change your address.</li>
      <li>
        Allow Beneficiaries to report wages if you are working and receiving
        disability benefits or SSI.
      </li>
      <li>Beneficiary Replacement Medicare card self-service.</li>
      <li>Request a replacement Social Security card.</li>
    </ul>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">mySocialSecurity - Representative Payee Services</h2>
    <p class="project-date" tabindex="0">Jun 2018 – Jan 2025</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">(Angular/Spring/OpenShift)</p>
    <p tabindex="0">
      Implemented architecture as well as worked on the following features:
    </p>
    <ul tabindex="0">
      <li>Representative Payee portal.</li>
      <li>1099 tax forms.</li>
      <li>Payee benefit verification letters online.</li>
      <li>Annual Rep Payee Accounting.</li>
      <li>Generate an instant benefit verification letter.</li>
    </ul>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">Upload Documents</h2>
    <p class="project-date" tabindex="0">Sep 2023 – Apr 2024</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">
      A one stop shop for the public to be able to (through a phone, in-person,
      or online technician request) get document requests for required SSA
      forms, fill them out (if applicable), upload them securely, and have them
      attached to relevant correspondences with SSA.
    </p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">Neurodiversity in Business Website Rewrite</h2>
    <p class="project-date" tabindex="0">Jan 2023 – Jan 2023</p>
    <p tabindex="0">
      Neurodiversity in Business is a international UK based charity for
      networking autistic and other neurodiverse persons with employers looking
      to tap into this talent pool.
    </p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">mySocialSecurity - Target Cloud Architecture</h2>
    <p class="project-date" tabindex="0">Jan 2018 – 2022</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">
      Formulated git templates for forming Angular UI and Spring API templates
      for testing core security, load testing, logging, library upgrade and
      configuration changes and create documentation on how to start or migrate
      a current project to the latest MySSA Target Architecture standard as well
      as utilizing that template itself on critical projects with more complex
      architectural needs.
    </p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">mySocialSecurity - Contact Us</h2>
    <p class="project-date" tabindex="0">Jan 2019 – Jan 2020</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">Angular/Spring/OpenShift</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">Heros-Engine</h2>
    <p class="project-date" tabindex="0">Oct 2018 – Feb 2019</p>
    <p tabindex="0">
      The Hero Engine aims to be an open-source HTML5 adventure game creation
      engine based on Tiled and Phaser3.
    </p>
    <p tabindex="0">
      We're calling it a meta-engine because it is not a full game engine on its
      own, but a layer on top of Phaser3 that makes it easy to create Adventure
      Games. The engine will provide game developers with an integration between
      Tiled and Phaser3 that will allow for easy adventure-game-like level
      creation. As well as common functions and UI elements that are common
      among all adventure games.
    </p>
    <p tabindex="0">
      This engine will be used to create "Command Line Heroes: The Game"
      announced on Episode 1 of Season 2 of the Command Line Heroes Podcast.
    </p>
    <p tabindex="0">HTML5/WebGL/Phaser3</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">Enterprise Project Management Office Application</h2>
    <p class="project-date" tabindex="0">2017 – Apr 2018</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">System for Requesting Certified Project Managers.</p>
    <p tabindex="0">AngularJS/REST/JBossEAP/OpenShift/Oracle</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">Customer Engagement Tools - Customer View</h2>
    <p class="project-date" tabindex="0">Oct 2016 – Jan 2018</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">
      Architected a solution internally called "Skynet for customer service
      interaction first response" — a lookup touching many legacy databases
      wrapped in a Progressive Web App. Multiple agencies are partners in using
      this tool.
    </p>
    <p tabindex="0">(Node.js/reactive.io/Spring Cloud Netflix/Apache Camel)</p>
    <ul tabindex="0">
      <li>
        Modernized mainframe and web-based legacy beneficiary records viewing
        software to a web service-oriented architecture.
      </li>
      <li>
        Complete customer and family lookup across dozens of backend agency
        services and mainframe resources.
      </li>
      <li>
        Tree Navigation of Beneficiaries, their relatives, and their dependents.
      </li>
      <li>Special correspondence alerts for phone and in person.</li>
      <li>
        Alerts and filters for lookup of Individuals of Extraordinary National
        Prominence.
      </li>
      <li>
        Live UI changes in response to new data gathered based on reactive and
        NoSQL based document building.
      </li>
      <li>
        Cross Component campaigning for unified technical direction in
        implementing a distributed on-demand customer data crawl.
      </li>
    </ul>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">Customer Engagement Tools - Dynamic Help</h2>
    <p class="project-date" tabindex="0">Apr 2017 – Jan 2018</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">Chatbot and call back feature for mySSA users.</p>
    <p tabindex="0">ZOS/Java/Parature/DB2/WebSphere</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">Customer Engagement Tools - Click to Chat</h2>
    <p class="project-date" tabindex="0">2016 – Jan 2018</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">
      Live chat application available on mySSA account page for live chat with
      representative and management suite. (Launch Pending)
    </p>
    <p tabindex="0">ZOS/Java/Jabber/DB2/WebSphere</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">EMAC 1</h2>
    <p class="project-date" tabindex="0">Aug 2011 – Mar 2017</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">
      Correspondence application to manage and document requests from the
      public, congress, and the white house.
    </p>
    <p tabindex="0">
      (Waterfall/Agile) — ColdFusion/Restful/.Net/Kofax/Solaris
    </p>
    <p tabindex="0">*Lead Developer</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">LRERWMS</h2>
    <p class="project-date" tabindex="0">Oct 2014 – Jan 2017</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">Labor Relation Employee Relation Work Management System</p>
    <p tabindex="0">
      Manage HR workflow for disciplinary action, legal actions, and
      miscellaneous employee actions.
    </p>
    <p tabindex="0">(Waterfall) — Java/WebSphere/Solaris</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">AuDITS</h2>
    <p class="project-date" tabindex="0">Oct 2015 – Jan 2016</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">
      Manage workflow of agency audits internal and requested from OIG and other
      agencies.
    </p>
    <p tabindex="0">(Agile) — Java/Websphere/Red Hat</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">EMAC 2</h2>
    <p class="project-date" tabindex="0">Oct 2013 – Jan 2016</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">
      Control application for sending top down tasks and managing rejection,
      completion, and internal agency correspondence.
    </p>
    <p tabindex="0">(Waterfall) — Java/WebSphere/Solaris</p>
    <p tabindex="0">*Lead Developer</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">SRDP</h2>
    <p class="project-date" tabindex="0">Sep 2012 – Jan 2015</p>
    <p tabindex="0">Security Request Process System</p>
    <p tabindex="0">
      Manage workflow and archive security requests for privileged agency
      resources.
    </p>
    <p tabindex="0">(Agile) — Java/WebSphere/Solaris</p>
    <p tabindex="0">*Lead Developer</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">DOORS</h2>
    <p class="project-date" tabindex="0">Sep 2013 – Jan 2014</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">Detailed Office/Organization Resource System</p>
    <p tabindex="0">
      Agency directory mainframe application. COBOL-JCL backend; consulted on
      developing Java WebSphere front-end with JS client for restful service.
    </p>
    <p tabindex="0">(Waterfall)</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">ESP</h2>
    <p class="project-date" tabindex="0">Sep 2012 – Jan 2013</p>
    <p tabindex="0">Employee Suggestion Program</p>
    <p tabindex="0">Accepted and processed employee suggestions.</p>
    <p tabindex="0">(Waterfall) — ColdFusion/IIS</p>
  </div>

  <div class="col-12 col-md-10 col-lg-5 project-section">
    <h2 tabindex="0">Combined Federal Campaign Data Analytics and Reporting</h2>
    <p class="project-date" tabindex="0">2011 – 2012</p>
    <p class="project-org" tabindex="0">Social Security Administration</p>
    <p tabindex="0">
      Track deductions of CFC campaign contributions to registered non-profits
      by federal employees.
    </p>
    <p tabindex="0">Javascript/SQLServer/ColdFusion/.NET/IIS</p>
  </div>
</div>
