<div class="row justify-content-center mb-3">
  <div class="col-12">
    <h2 tabindex="0">{{ "projects.title" | translate }}</h2>
  </div>
</div>
<div class="row justify-content-center gy-5 gx-4">
  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['angular', 'spring', 'openshift']" />
      <h2 tabindex="0">mySocialSecurity - Online Self Service</h2>
      <p class="project-date" tabindex="0">Oct 2018 – Jan 2025</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">{{ "projects.mySssOss.heading" | translate }}</p>
      <ul tabindex="0">
        <li>{{ "projects.mySssOss.bullets.planning" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.personalized" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.spouse" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.noBenefits" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.tracker" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.onDemand" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.survivors" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.replacementCard" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.specialNotice" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.beneficiaryWorkspace" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.verificationLetter" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.form1099" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.benefitStatement" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.directDeposit" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.address" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.reportWages" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.medicare" | translate }}</li>
        <li>{{ "projects.mySssOss.bullets.requestCard" | translate }}</li>
      </ul>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['angular', 'spring', 'openshift']" />
      <h2 tabindex="0">mySocialSecurity - Representative Payee Services</h2>
      <p class="project-date" tabindex="0">Jun 2018 – Jan 2025</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">{{ "projects.mySssRps.heading" | translate }}</p>
      <ul tabindex="0">
        <li>{{ "projects.mySssRps.bullets.portal" | translate }}</li>
        <li>{{ "projects.mySssRps.bullets.taxForms" | translate }}</li>
        <li>{{ "projects.mySssRps.bullets.letters" | translate }}</li>
        <li>{{ "projects.mySssRps.bullets.accounting" | translate }}</li>
        <li>{{ "projects.mySssRps.bullets.verificationLetter" | translate }}</li>
      </ul>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <h2 tabindex="0">Upload Documents</h2>
      <p class="project-date" tabindex="0">Sep 2023 – Apr 2024</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">{{ "projects.uploadDocs.description" | translate }}</p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['angular', 'azure', 'githubpages']" />
      <h2 tabindex="0">Neurodiversity in Business Website Rewrite</h2>
      <p class="project-date" tabindex="0">Jan 2023 – Jan 2023</p>
      <p tabindex="0">{{ "projects.nibRewrite.description" | translate }}</p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <h2 tabindex="0">mySocialSecurity - Target Cloud Architecture</h2>
      <p class="project-date" tabindex="0">Jan 2018 – 2022</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">{{ "projects.mySssCloud.description" | translate }}</p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['angular', 'spring', 'openshift']" />
      <h2 tabindex="0">mySocialSecurity - Contact Us</h2>
      <p class="project-date" tabindex="0">Jan 2019 – Jan 2020</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">
        <a
          href="https://secure.ssa.gov/cet/contact-us-ui/call-us"
          target="_blank"
          rel="noopener noreferrer"
        >
          View live project
        </a>
      </p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['html5', 'webgl', 'phaser']" />
      <h2 tabindex="0">Heros-Engine</h2>
      <p class="project-date" tabindex="0">Oct 2018 – Feb 2019</p>
      <p tabindex="0">{{ "projects.heroEngine.p1" | translate }}</p>
      <p tabindex="0">{{ "projects.heroEngine.p2" | translate }}</p>
      <p tabindex="0">{{ "projects.heroEngine.p3" | translate }}</p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['angularjs', 'jboss', 'openshift', 'oracle']" />
      <h2 tabindex="0">Enterprise Project Management Office Application</h2>
      <p class="project-date" tabindex="0">2017 – Apr 2018</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">{{ "projects.epmo.description" | translate }}</p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['nodejs', 'rxjs', 'springcloud', 'apachecamel']" />
      <h2 tabindex="0">Customer Engagement Tools - Customer View</h2>
      <p class="project-date" tabindex="0">Oct 2016 – Jan 2018</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">{{ "projects.cetCustomerView.description" | translate }}</p>
      <ul tabindex="0">
        <li>{{ "projects.cetCustomerView.bullets.modernized" | translate }}</li>
        <li>{{ "projects.cetCustomerView.bullets.lookup" | translate }}</li>
        <li>{{ "projects.cetCustomerView.bullets.tree" | translate }}</li>
        <li>{{ "projects.cetCustomerView.bullets.alerts" | translate }}</li>
        <li>{{ "projects.cetCustomerView.bullets.filters" | translate }}</li>
        <li>{{ "projects.cetCustomerView.bullets.liveUi" | translate }}</li>
        <li>{{ "projects.cetCustomerView.bullets.crossComponent" | translate }}</li>
      </ul>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['ibmzos', 'java', 'parature', 'db2', 'websphere']" />
      <h2 tabindex="0">Customer Engagement Tools - Dynamic Help</h2>
      <p class="project-date" tabindex="0">Apr 2017 – Jan 2018</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">{{ "projects.cetDynamicHelp.description" | translate }}</p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['ibmzos', 'java', 'jabber', 'db2', 'websphere']" />
      <h2 tabindex="0">Customer Engagement Tools - Click to Chat</h2>
      <p class="project-date" tabindex="0">2016 – Jan 2018</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">{{ "projects.cetClickToChat.description" | translate }}</p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['coldfusion', 'dotnet', 'kofax', 'solaris']" />
      <h2 tabindex="0">EMAC 1</h2>
      <p class="project-date" tabindex="0">Aug 2011 – Mar 2017</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">{{ "projects.emac1.description" | translate }}</p>
      <p tabindex="0">{{ "projects.common.leadDeveloperNote" | translate }}</p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['java', 'websphere', 'solaris']" />
      <h2 tabindex="0">LRERWMS</h2>
      <p class="project-date" tabindex="0">Oct 2014 – Jan 2017</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">{{ "projects.lrerwms.subtitle" | translate }}</p>
      <p tabindex="0">{{ "projects.lrerwms.description" | translate }}</p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['java', 'websphere', 'redhat']" />
      <h2 tabindex="0">AuDITS</h2>
      <p class="project-date" tabindex="0">Oct 2015 – Jan 2016</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">{{ "projects.audits.description" | translate }}</p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['java', 'websphere', 'solaris']" />
      <h2 tabindex="0">EMAC 2</h2>
      <p class="project-date" tabindex="0">Oct 2013 – Jan 2016</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">{{ "projects.emac2.description" | translate }}</p>
      <p tabindex="0">{{ "projects.common.leadDeveloperNote" | translate }}</p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['java', 'websphere', 'solaris']" />
      <h2 tabindex="0">SRDP</h2>
      <p class="project-date" tabindex="0">Sep 2012 – Jan 2015</p>
      <p tabindex="0">{{ "projects.srdp.subtitle" | translate }}</p>
      <p tabindex="0">{{ "projects.srdp.description" | translate }}</p>
      <p tabindex="0">{{ "projects.common.leadDeveloperNote" | translate }}</p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <h2 tabindex="0">DOORS</h2>
      <p class="project-date" tabindex="0">Sep 2013 – Jan 2014</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">{{ "projects.doors.subtitle" | translate }}</p>
      <p tabindex="0">{{ "projects.doors.description" | translate }}</p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['coldfusion', 'iis']" />
      <h2 tabindex="0">ESP</h2>
      <p class="project-date" tabindex="0">Sep 2012 – Jan 2013</p>
      <p tabindex="0">{{ "projects.esp.subtitle" | translate }}</p>
      <p tabindex="0">{{ "projects.esp.description" | translate }}</p>
    </div>
  </div>

  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card project-section shadow-sm rounded-4 h-100">
      <app-tech-badge [techs]="['javascript', 'sqlserver', 'coldfusion', 'dotnet', 'iis']" />
      <h2 tabindex="0">Combined Federal Campaign Data Analytics and Reporting</h2>
      <p class="project-date" tabindex="0">2011 – 2012</p>
      <p class="project-org" tabindex="0">Social Security Administration</p>
      <p tabindex="0">{{ "projects.cfc.description" | translate }}</p>
    </div>
  </div>
</div>
