@use "tokens" as t;
@use "mixins" as m;
:host {
  background-color: rgba(255, 255, 255, 0.096);
  border-radius: 25px;
}

:host {
  background-color: rgba(255, 255, 255, 0.096);
  border-radius: 25px;
}

h2 {
  @include m.centered-heading;
}

p,
li {
  @include m.italic-body;
}

.project-date {
  @include m.label(t.$purple);
}

.project-org {
  @include m.label(t.$gray-mid);
}

.project-section {
  padding: t.$card-padding;
}
