@use "tokens" as t;
@use "mixins" as m;
:host {
  background-color: rgba(255, 255, 255, 0.096);
  border-radius: 25px;
  padding-bottom: 1.5rem;
}

h2 {
  @include m.centered-heading;
}
p,
a {
  @include m.italic-body;
}

.contact-section {
  padding: t.$card-padding;
}

.contact-email {
  color: t.$lavender;
  font-size: 1.1em;
}
