<div class="row justify-content-center mb-3">
  <div class="col-12">
    <h2 tabindex="0">{{ "contact.title" | translate }}</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-6">
    <div class="card diamond-card contact-section shadow-sm rounded-4">
      <h2 tabindex="0">{{ "contact.email" | translate }}</h2>
      <p class="contact-email text-center" tabindex="0">
        <a
          tabindex="0"
          class="text-diamond-accent"
          href="mailto:usi@usidiamond.dev"
        >
          usi@usidiamond.dev
        </a>
      </p>
    </div>
  </div>
</div>
