a {
  text-align: left;
  font-weight: bold;
  color: rgb(131, 131, 131);
  text-decoration: none;
  font-family: MoreSugar;
}

.active-route {
  text-align: left;
  text-decoration: underline !important;
  font-weight: bold !important;
  color: rgb(190, 190, 190);
}

.active-route::after {
  content: " UwU";
}

.menu-label {
  width: 200px;
}
