<nav class="navbar navbar-expand-lg navbar-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    [attr.aria-label]="'menu.toggleNavigation' | translate"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      @for (item of menuItems; track item.route) {
        <li class="nav-item">
          @if (item.disabled) {
            <button
              #navBtn
              tabindex="-1"
              class="nav-link disabled"
              [attr.data-route]="item.route"
              aria-disabled="true"
              disabled
            >
              {{ item.labelKey | translate }}
            </button>
          } @else {
            <button
              #navBtn
              tabindex="0"
              class="nav-link"
              [attr.routerlink]="item.route"
              [routerLink]="item.route"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
            >
              {{ item.labelKey | translate }}
            </button>
          }
        </li>
      }
    </ul>
  </div>
</nav>
