a {
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  font-family: MoreSugar;
}

.active-route {
  border-bottom: 2em;
}

.disabled {
  color: rgba(222, 187, 255, 0.411);
}

.menu-label {
  width: 200px;
}

.navbar {
  padding-left: 1em;
}
