<nav class="navbar navbar-expand-sm">
  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto flex-row">
      <li class="nav-item active menu-label">
        <a
          class="nav-link"
          href="#"
          routerLink="/home"
          routerLinkActive="active-route"
          ariaCurrentWhenActive="page"
          >Introduction</a
        >
      </li>
      <li class="nav-item menu-label">
        <a
          class="nav-link"
          href="#"
          routerLink="/projects"
          routerLinkActive="active-route"
          ariaCurrentWhenActive="page"
          >Projects [Coming Soon]</a
        >
      </li>
    </ul>
  </div>
</nav>
