@use 'tokens' as t;

:host {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  display: block;
  
  
  background: t.$charcoal;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}
