@use "tokens" as t;
@use "mixins" as m;
:host {
  background-color: rgba(255, 255, 255, 0.096);
  border-radius: 25px;
}

h2 {
  @include m.centered-heading;
}
p,
li {
  @include m.italic-body;
}

.volunteering-date {
  @include m.label(t.$purple);
}
.volunteering-org {
  @include m.label(t.$gray-mid);
}
.volunteering-section {
  padding: t.$card-padding;
}
