@use "tokens" as t;
@use "mixins" as m;

p {
  @include m.italic-body;
}
h2 {
  @include m.centered-heading;
}

.home-section {
  padding: t.$card-padding;
  font-family: t.$font-fancy;
  font-weight: 400;
}
