<div class="wrapper">
  <h2>What is an Usi?</h2>
  <div class="section">
    <p>
      It is a queer, autistic, trans and non-binary, autodidactic developer as
      well as a life long Linux desktop geek, and impassioned mathematics
      enthusiast. Its expertise surrounds a litany of web application standards,
      languages, libraries, protocols, and system security patterns. Its passion
      is to analyze and solve difficult problems with rapid research and
      prototyping. It is interested in helping non-profit efforts in LGBTQIA+,
      neurodiversity, and wealth management issues, IT enrichment for disabled
      and vulnerable Americans, Free Open Source Software (FOSS) advocacy, Right
      to Repair, and government transparency. When not consulting, advocating,
      tinkering, or coding, it keeps its whole self engaged with continuing
      classical voice training in operatic repertoire.
    </p>
  </div>
  <h2>What does it like?</h2>
  <div class="section">
    <p>
      In gaming, it enjoys third-person RPGs, JROPGs, TTRPGs (playing and GMing
      since 1999 [2e,3.5,4.5e, 5e, Pathfinder, Masquerade, Star Wars 5e]), indie
      metroidvanias, occasional LARPing, and continues to work on a no death run
      of NES Ninja Gaiden. It is an advocate of "save player one" and refuses to
      play gatchas or other financially predatory multiplayer games as a rule
      and stuck to that.
    </p>
    <p>
      It of course listens to a lot of classical and opera (mostly from the
      1900-1940s recording artists) from training and interest, but in modern
      music it's mostly chiptune and furry electronica.
    </p>
  </div>
  <h2>How long did the Usi stay in school?</h2>
  <div class="section">
    <p>It has a B.S. in Interdisciplinary Studies (CIS/Applied Mathematics).</p>
  </div>
  <h2>What does the Usi do for money?</h2>
  <div class="section">
    <p>
      As a professional full stack dveloper for over 13 years, it is responsible
      for analyzing and refining systems requirements, designing, developing,
      modifying, and implementing security, management information, human
      resources, and auditing systems, currently surrounding online self
      service, cloud migration, and architecture in a secure devops pipeline.
    </p>
  </div>

  <h2>Anything we need to know before speaking with the Usi?</h2>
  <div class="section">
    <p>ÂûDHD, plz be patient.</p>
    <p>
      Uses 'It', and sometimes rarely 'we', as first person pronouns in speech
      and text.
    </p>
  </div>
  <h2>Links</h2>
  <app-links></app-links>
</div>
